extends ../layout

block content
	.containerPDF
		.rowPDF.text-center
			h1 <strong class="text-primary"> #{group.code} </strong>
			h2 PREVENTIVO
		.col-pdf-8
			span Addr: #{group.addr}
			div(style="height:5px")
			span Tel: #{group.tel}
		.col-pdf-4
			span No: <strong>#{order.code}</strong>
			div(style="height:5px")
			span Date: #{moment(order.ctAt).format('DD/MM/YYYY')}
		table.tableA4.border
			thead
				tr.text-left
					th Codice
					th Desc
					th QNT
					th Prezzo
					th Total(€)
			tbody
				-var proLen = order.products.length;
				-var proNum = 0;
				each product in order.products
					-proNum += product.quot;
					tr
						td #{product.code}
						td #{product.nome}
						td.textRight #{product.quot}
						-let pdPrice = 'NaN';
						if product.price && !isNaN(product.price)
							- pdPrice = (product.price).toFixed(2);
						td.textRight #{pdPrice}
						-let pdTotal = 'NaN';
						if product.total && !isNaN(product.total)
							- pdTotal = (product.total).toFixed(2);
						td.textRight #{pdTotal}
				tr
					td(colspan="5") &nbsp;
		table.tableA4
			tr
				th(colspan="2") T.Art: #{proLen}
				th Tot: #{proNum} pz
				-let odImp = 'NaN'
				if order.imp && !isNaN(order.imp)
					-odImp = (order.imp).toFixed(2);
				th(colspan="2").text-center IMP:  #{odImp} €
		if order.rlp != order.imp
			.row.text-right.bg-info 
				.col-12
					h2 实收: #{(order.rlp).toFixed(2)} €