.row
	.col-3: h5 Codice
	.col-3: h5 Desc
	.col-3: h5 Width
.row
	.col-3: h5 Size
	.col-2: h5 QNT
	.col-3: h5 Prezzo
	.col-4.text-right: h5 Total(€)
-var pz = 0;
each sell in object.sells
	-let tot = sell.quot * sell.size * sell.price
	-pz += sell.quot;
	.row.border-top.mt-2
		.col-3: h5 #{sell.code}
		-let pdPrice = 'NaN';
		if sell.price && !isNaN(sell.price)
			- pdPrice = (sell.price).toFixed(2);
		.col-3: h5 #{sell.nome}
		.col-3: h5 #{sell.width}
	.row
		.col-3: h5 &nbsp;&nbsp;#{sell.size}
		.col-2: h5 &nbsp;&nbsp;#{sell.quot}
		.col-3: h5 &nbsp;&nbsp;#{pdPrice} €
		.col-4.text-right: h5 #{tot.toFixed(2)} €


.row.mt-5
	.col-4: h4 T.Art: #{object.sells.length}
	.col-4: h4 Tot: #{pz} pz
	-let odImp = 'NaN'
	if object.imp && !isNaN(object.imp)
		-odImp = (object.imp).toFixed(2);
.row.mt-3.text-right
	.col-12.text-right: h3 IMP:  <strong>#{odImp}</strong> €

.row.mt-5
	- let foot = "Thank you!";
	if group.tel
		- foot = "Tel: "+group.tel;
	.col-12.text-right: h5 !{foot}