a.btn.btn-info(href="#", data-toggle="modal", data-target="#upPw") <span class="oi oi-key"></span>

#upPw.modal.fade
	.modal-dialog
		.modal-content
			form#upPwd(method="post", action="/sferUpdPwd", enctype="multipart/form-data")
				.modal-header: h3 #{Lang.resetPwd}
				.modal-body
					input(type="hidden", name="obj[_id]", value=object._id)
					.form-group.row
						label.col-4.col-form-label(for="iptOrgPw") #{Lang.oldPwd}
						.col-8
							input#iptOrgPw.form-control(type="text", name="obj[pw]")
					.form-group.row
						label.col-4.col-form-label(for="iptPwd") #{Lang.newPwd}
						.col-8
							input#iptPwd.form-control(type="text", name="obj[pwd]")
					.form-group.row
						label.col-4.col-form-label(for="iptCheckPw") #{Lang.confirmPwd}
						.col-8
							input#iptCheckPw.form-control(type="text")
				.modal-footer
					button.btn.btn-default(type="button" data-dismiss="modal") <span class="oi oi-x"></span>
					button.btn.btn-success(type="submit") <span class="oi oi-location"></span>