.row
	table.tableA5.table-borderless.border.border-dark
		thead
			tr.textCenter
				th.border.border-dark: h2 Codice
				th.border.border-dark: h2 Desc
				th.border.border-dark: h2 Size
				th.border.border-dark: h2 QNT
				th.border.border-dark: h2 Prezzo
				th.border.border-dark: h2 Total(€)
		tbody
			-let pz = 0, total=0;
			each sell in object.sells
				-let tot = 0;
				if !isNaN(sell.price) && !isNaN(sell.size) && !isNaN(sell.quot)
					-pz += sell.quot;
					-tot = sell.price * sell.size * sell.quot;
					-total += tot;
				tr
					td(style="font-size: 30px") #{sell.code}
					td(style="font-size: 30px") #{sell.nome}
					td.text-right.border-left.border-dark(style="font-size: 30px") #{sell.size}
					td.text-right(style="font-size: 30px") #{sell.quot}
					-let pdPrice = 'NaN';
					if sell.price && !isNaN(sell.price)
						- pdPrice = (sell.price).toFixed(2);
					td.text-right(style="font-size: 30px") #{pdPrice}
					td.text-right.border-left.border-dark(style="font-size: 30px") #{tot.toFixed(2)}
			tr
				td(colspan="2") &nbsp;
				td(colspan="3").border-left.border-dark &nbsp;
				td.border-left.border-dark &nbsp;


		tr
			th.border.border-dark(colspan="2"): h1 T.Art: #{object.sells.length}
			th.border.border-dark.text-center(colspan="3"): h1 Tot: #{pz} pz
			th.border.border-dark.text-right: h1 IMP:  #{total.toFixed(2)} €