.row
	table.tableA4.table-borderless.border.border-dark
		thead
			tr.textCenter
				th.border.border-dark Codice
				th.border.border-dark Desc
				th.border.border-dark QNT
				th.border.border-dark Prezzo
				th.border.border-dark Total(€)
		tbody
			-var proLen = object.products.length;
			-var proNum = 0;
			each product in object.products
				-proNum += product.quot;
				tr
					td #{product.code}
					td #{product.nome}
					td.textRight #{product.quot}
					-let pdPrice = 'NaN';
					if product.price && !isNaN(product.price)
						- pdPrice = (product.price).toFixed(2);
					td.textRight #{pdPrice}
					-let pdTotal = 'NaN';
					if product.total && !isNaN(product.total)
						- pdTotal = (product.total).toFixed(2);
					td.textRight #{pdTotal}
			tr
				td &nbsp;
				td &nbsp;
				td &nbsp;
				td &nbsp;
				td &nbsp;


		tr
			th.border.border-dark T.Art: #{proLen}
			th.border.border-dark
			th.border.border-dark.textRight Tot: #{proNum} pz
			th.border.border-dark
			-let odImp = 'NaN'
			if object.imp && !isNaN(object.imp)
				-odImp = (object.imp).toFixed(2);
			th.border.border-dark.textRight IMP:  #{odImp}
if object.rlp != object.imp
	.row.text-right.bg-info 
		.col-12
			h2 实收: #{(object.rlp).toFixed(2)}