.row
	table.tableA4.table-borderless.border.border-dark
		thead
			tr.textCenter
				th.border.border-dark Codice
				th.border.border-dark Desc
				th.border.border-dark Size
				th.border.border-dark QNT
				th.border.border-dark Prezzo
				th.border.border-dark Total(€)
		tbody
			-let pz = 0, total=0;
			each sell in object.sells
				-let tot = 0;
				if !isNaN(sell.price) && !isNaN(sell.size) && !isNaN(sell.quot)
					-pz += sell.quot;
					-tot = sell.price * sell.size * sell.quot;
					-total += tot;
				tr
					td #{sell.code}
					td #{sell.nome}
					td.text-right.border-left.border-dark #{sell.size}
					td.text-right #{sell.quot}
					-let pdPrice = 'NaN';
					if sell.price && !isNaN(sell.price)
						- pdPrice = (sell.price).toFixed(2);
					td.text-right #{pdPrice}
					td.text-right.border-left.border-dark #{tot.toFixed(2)}
			tr
				td(colspan="2") &nbsp;
				td(colspan="3").border-left.border-dark &nbsp;
				td.border-left.border-dark &nbsp;


		tr
			th.border.border-dark(colspan="2") T.Art: #{object.sells.length}
			th.border.border-dark.text-center(colspan="3") Tot: #{pz} pz
			th.border.border-dark.text-right IMP:  #{total.toFixed(2)}