extends ../aalayout/layout

block content

	input#langstock(type="hidden", value=Lang.stock)
	input#langorg(type="hidden", value=Lang.org)
	input#langbill(type="hidden", value=Lang.bill)
	input#langnote(type="hidden", value=Lang.note)

	.container.mt-3
		.row.border-bottom
			.col-10.pt-2
				h5 #{Lang.clone}: [#{object.code}]
			.col-2
				a.btn.btn-light(href="/bsOrder/"+object._id) <span class="oi oi-x"></span>

		.orderInformation
			form.showPdsForm
		div(style="height:40px")

		form#orderNew(method="post", action=thisAct+"New", enctype="multipart/form-data")
			.orderInformation.border.border-info
				input#orderId(type="hidden", value=object._id)
				input(type="hidden", name="obj[code]", value=code, readonly="readonly")
				.bg-light.p-2.rounded
					span #{Lang.orderList}:
				.orderInfo
					#proInOrder
			.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-bottom.noprint
				.form-group.row
					if object.cter
						-cterId = object.cter._id;
						-ctNome = object.cter.nome;
					else
						-cterId = "";
						-ctNome = 'client';
					input#orderCter.form-control(type="hidden", name="obj[cter]", value=cterId)
					label#showClient.btn.btn-info.col-form-label.col-3 #{ctNome}
					label#proLen.col-form-label.col-2.text-danger 0
					.col-4
						input#imp.form-control(type="text", name="obj[imp]", value=0, autocomplete="off")
					.col-3
						input#btnSubmit.btn.btn-warning.btn-block(type="submit" value=Lang.clone)

		.clientInformation(style="display:none")
			.row
				.col-4
					h3 #{Lang.client}:
				.col-8
					form#formCters
						input#ajaxCters.form-control(type="text", autocomplete="off")
			.clientSel
				.row
					.col-12
						div(class="card clientCard m-2 bg-warning" id="client")
							.card-body
								h5.card-title.text-center #{Lang.cancelCl}
				.row.catersAjax
				hr
				.row.allCtersAjax
		.div(style="height:200px")

	script(src="/const/const.js")
	script(src="/js/bser/order/update/update.js")
	script(src="/js/bser/order/update/productsAjax.js")
	script(src="/js/bser/order/update/client.js")