.row.text-center
	.col-12: h4 #{Lang.clientInfo}
.row.mt-2
	.col-12 #{object.clientNome}
	.col-12 #{object.clientAddr}, #{object.city}
	.col-12 P.IVA: #{object.clientIva}
	.col-12 C.F.: #{object.clientCF}
	.col-12 Dest: #{object.dest}
