.row.text-center
	.col-12: h4 #{Lang.comInfo}
	.col-12: h5 #{group.code}
.row.mt-2
	.col-12 Addr: #{group.addr}, #{group.post}, #{group.city}
	.col-12 P.IVA: #{group.iva}
	.col-12 C.F.: #{group.cf}
	.col-12 Tel: #{group.tel}