table.mt-3.table.border
	tr
		td: strong #{Lang.code}:
		td #{object.code}
	tr
		td: strong #{Lang.name}:
		td #{object.nome}
	tr
		td: strong Tel:
		td #{object.tel}
	tr
		td: strong P.IVA:
		td #{object.iva}
	tr
		td: strong Addr.:
		td #{object.addr}
	tr
		td: strong #{Lang.zip}:
		td #{object.post}
	tr
		td: strong #{Lang.docu}:
		td #{object.doct}
