table.table.mt-3
	tr
		td: strong #{Lang.name}:
		td #{object.code}
	tr
		td: strong #{Lang.tel}:
		td #{object.tel}
	tr
		td: strong #{Lang.resp}: 
		td #{object.resp}
	tr
		td: strong #{Lang.addr}:
		td #{object.addr}
	tr
		td: strong #{Lang.post}:
		td #{object.post}
	tr
		td: strong #{Lang.city}:
		td #{object.city}
	tr
		td: strong #{Lang.ct}:
		td #{object.ct}
	tr
		td: strong #{Lang.nation}:
		td #{object.nation}
	tr
		td: strong #{Lang.nt}:
		td #{object.nt}
	tr
		td: strong #{Lang.iva}:
		td #{object.iva}
	tr
		td: strong #{Lang.cf}:
		td #{object.cf}
	tr
		td: strong #{Lang.bank}:
		td #{object.bank}
	tr
		td: strong #{Lang.iban}:
		td #{object.iban}