.row.mt-5
	h3.col-8 #{Lang.sellQuot}: #{object.sellQuot}
	.col-4.text-right: button#opt.btn.btn-warning(type="button") <span class="oi oi-shield"></span>
- let totQuot = 0;
if object.sells && object.sells.length > 0
	-sells = object.sells;
	table.table.table-border
		thead
			tr
				td #{Lang.order}
				td #{Lang.quot}
				td.opt(style="display:none") <span class="oi oi-trash"></span>
		tbody
			each sell in sells
				tr(class='sell-id-'+sell._id)
					td
						if sell.order
							-totQuot += sell.quot;
							a.text-warning(href="/bsOrder/"+sell.order._id) #{sell.order.code}
						else
							span.text-danger #{Lang.lostOrder}
					td #{sell.quot}
					td.opt(style="display:none")
						button.delSell.btn.btn-danger(type="button", id=object._id+'-'+sell._id) <span class="oi oi-trash"></span>
else
	p.p-2 #{Lang.nonRecord}

if !isNaN(totQuot) && totQuot != object.sellQuot
	-a;
	.row
		.col-9
			h3.text-info #{Lang.stcSell}: #{totQuot}
		.col-3
			a.btn.btn-danger(href="/bsProdProof/"+object._id) <span class="oi oi-wrench"></span>
